@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playball&display=swap");

/* Global CSS for all pages */

* {
  /* Sizing helper: See Workbook 1b, page 2-33. */
  box-sizing: border-box;

  /* 
       Vizualization helper: While styling or debugging your HTML & CSS, 
       uncomment the rule below to see all the boxes on your page more
       clearly! (Remove this outline before submitting: users won't 
       want to see it!)
    */
  /* outline: 1px dotted red; */
}

:root {
  font-size: 1rem;
}

/* body {
 background-image: url("../images/rubybackground.jpg");        *old css*
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center; 
        color: #fff;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Montserrat", serif !important;
  font-weight: 400;
  font-style: normal;
      }

.btn-custom {
    background-color: #ac012e ; 
    color: #fff ; 
    border: none ; 
  }

  .btn-custom:hover {
    background-color: #4d0114 !important; 
  } */

body {
  height: 100vh;
  /* background: linear-gradient(-45deg, red, black, grey); */
  background-image: url("../images/rubybackground.jpg");
  background-size: 150% 150%;
  animation: bg 12s ease infinite;
  background-position: center center; 
        color: #fff;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: "Montserrat", serif !important;
  font-weight: 400;
  font-style: normal;
      
}

@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.btn-custom {
    background-color: #ac012e ; 
    color: #fff ; 
    border: none ; 
  }

  .btn-custom:hover {
    background-color: #4d0114 !important; 
  } 