body {
  display: flex;
  justify-content: flex-start; /* Align items to the start of the flex container */
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}
.sidebar {
  order: -1; /* Move the sidebar to the first position */
}

.profile-container {
  flex: 1; /* Ensure the main content fills the remaining space */
}
.card {
  background-color: #202020;
  box-shadow: 0 0 4px #000000;
}

.card-title,
.card-text,
.card-subtitle {
  color: #ffffff;
}

.date-text-color {
  color: #ffffff;
}
hr {
  color: #ffffff;
}
